<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/9gegpsmnsoo25ikkbl4qzlvlyjbgxs5x.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

In [2]:
import torch
A = torch.tensor([[0, 1, 1], [1, 0, 1]])
B = torch.tensor([[1, 1], [1, 1], [-1, 1]])
A_times_B = torch.mm(A,B)
A_times_B

tensor([[0, 2],
        [0, 2]])

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3> 
1. <a href="#item1">Download and Clean Dataset</a>  
2. <a href="#item2">Import Keras</a>  
3. <a href="#item3">Build a Neural Network</a>  
4. <a href="#item4">Train and Test the Network</a>  
</font>
</div>

<a id="item1"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different materials that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

<a id="item4"></a>

## Train and Test the Network

In [14]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1654.4461 - val_loss: 1147.8854
Epoch 2/100
 - 0s - loss: 1514.6052 - val_loss: 1025.4081
Epoch 3/100
 - 0s - loss: 1287.2182 - val_loss: 836.4948
Epoch 4/100
 - 0s - loss: 960.8872 - val_loss: 605.8732
Epoch 5/100
 - 0s - loss: 607.3882 - val_loss: 390.8894
Epoch 6/100
 - 0s - loss: 348.0547 - val_loss: 258.1080
Epoch 7/100
 - 0s - loss: 249.9496 - val_loss: 211.8157
Epoch 8/100
 - 0s - loss: 229.0988 - val_loss: 199.1260
Epoch 9/100
 - 1s - loss: 217.1721 - val_loss: 189.1000
Epoch 10/100
 - 0s - loss: 207.5913 - val_loss: 184.4681
Epoch 11/100
 - 0s - loss: 200.5691 - val_loss: 178.8898
Epoch 12/100
 - 0s - loss: 192.8917 - val_loss: 175.4146
Epoch 13/100
 - 0s - loss: 187.1442 - val_loss: 174.6866
Epoch 14/100
 - 0s - loss: 182.2149 - val_loss: 168.6746
Epoch 15/100
 - 0s - loss: 177.4414 - val_loss: 168.0206
Epoch 16/100
 - 0s - loss: 173.6227 - val_loss: 165.3353
Epoch 17/100
 - 0s - loss: 170.0300 - val_loss: 165.2553
Epoch 18/100
 - 0s - loss: 166.6892 - val_loss: 161.9382
Epoch 19/100
 - 0s - loss: 163.8651 - val_loss: 161.3353
Epoch 20/100
 - 0s - loss: 160.9980 - val_loss: 160.5679
Epoch 21/100
 - 0s - loss: 158.7086 - val_loss: 159.2605
Epoch 22/100
 - 0s - loss: 156.1515 - val_loss: 159.0061
Epoch 23/100
 - 0s - loss: 153.5647 - val_loss: 157.8711
Epoch 24/100
 - 0s - loss: 151.7350 - val_loss: 159.0991
Epoch 25/100
 - 0s - loss: 149.8986 - val_loss: 156.8184
Epoch 26/100
 - 0s - loss: 148.3556 - val_loss: 155.5794
Epoch 27/100
 - 0s - loss: 146.1764 - val_loss: 157.1976
Epoch 28/100
 - 0s - loss: 144.1868 - val_loss: 155.7773
Epoch 29/100
 - 0s - loss: 142.4437 - val_loss: 156.9461
Epoch 30/100
 - 0s - loss: 141.4843 - val_loss: 158.3861
Epoch 31/100
 - 0s - loss: 139.1151 - val_loss: 154.5783
Epoch 32/100
 - 0s - loss: 137.2646 - val_loss: 157.9048
Epoch 33/100
 - 0s - loss: 135.4370 - val_loss: 155.7249
Epoch 34/100
 - 0s - loss: 133.5245 - val_loss: 156.8506
Epoch 35/100
 - 0s - loss: 131.1936 - val_loss: 154.4952
Epoch 36/100
 - 0s - loss: 129.1100 - val_loss: 155.4749
Epoch 37/100
 - 0s - loss: 127.2222 - val_loss: 154.3769
Epoch 38/100
 - 0s - loss: 124.8750 - val_loss: 155.4511
Epoch 39/100
 - 0s - loss: 122.8781 - val_loss: 155.9560
Epoch 40/100
 - 0s - loss: 120.7693 - val_loss: 154.6688
Epoch 41/100
 - 0s - loss: 118.9450 - val_loss: 150.9738
Epoch 42/100
 - 0s - loss: 115.1512 - val_loss: 151.5330
Epoch 43/100
 - 0s - loss: 113.2154 - val_loss: 149.0920
Epoch 44/100
 - 0s - loss: 110.4242 - val_loss: 153.5031
Epoch 45/100
 - 0s - loss: 107.7242 - val_loss: 147.9020
Epoch 46/100
 - 0s - loss: 104.4170 - val_loss: 147.2376
Epoch 47/100
 - 0s - loss: 101.7201 - val_loss: 143.9135
Epoch 48/100
 - 0s - loss: 98.5900 - val_loss: 144.2255
Epoch 49/100
 - 0s - loss: 95.6739 - val_loss: 142.8615
Epoch 50/100
 - 0s - loss: 92.0765 - val_loss: 139.3731
Epoch 51/100
 - 0s - loss: 88.9014 - val_loss: 139.9804
Epoch 52/100
 - 0s - loss: 86.0076 - val_loss: 137.1893
Epoch 53/100
 - 0s - loss: 82.6009 - val_loss: 136.9989
Epoch 54/100
 - 0s - loss: 79.7220 - val_loss: 133.6682
Epoch 55/100
 - 0s - loss: 76.8818 - val_loss: 131.5144
Epoch 56/100
 - 0s - loss: 74.4749 - val_loss: 126.2506
Epoch 57/100
 - 0s - loss: 71.7521 - val_loss: 126.9105
Epoch 58/100
 - 0s - loss: 69.8297 - val_loss: 121.1112
Epoch 59/100
 - 0s - loss: 67.2246 - val_loss: 115.9530
Epoch 60/100
 - 0s - loss: 64.8004 - val_loss: 117.7779
Epoch 61/100
 - 0s - loss: 63.0335 - val_loss: 115.2561
Epoch 62/100
 - 0s - loss: 61.2830 - val_loss: 114.9883
Epoch 63/100
 - 0s - loss: 59.6429 - val_loss: 103.2299
Epoch 64/100
 - 0s - loss: 58.3941 - val_loss: 111.5087
Epoch 65/100
 - 0s - loss: 55.7966 - val_loss: 104.4357
Epoch 66/100
 - 0s - loss: 54.3834 - val_loss: 103.1750
Epoch 67/100
 - 0s - loss: 53.2140 - val_loss: 107.0110
Epoch 68/100
 - 0s - loss: 52.2677 - val_loss: 104.6114
Epoch 69/100
 - 0s - loss: 50.5648 - val_loss: 99.3645
Epoch 70/100
 - 0s - loss: 48.9701 - val_loss: 103.5019
Epoch 71/100
 - 0s - loss: 47.3964 - val_loss: 101.3774
Epoch 72/100
 - 0s - loss: 46.3327 - val_loss: 105.4661
Epoch 73/100
 - 0s - loss: 45.3812 - val_loss: 107.4975
Epoch 74/100
 - 0s - loss: 44.5994 - val_loss: 95.1579
Epoch 75/100
 - 1s - loss: 42.7774 - val_loss: 95.1437
Epoch 76/100
 - 0s - loss: 41.5375 - val_loss: 109.6077
Epoch 77/100
 - 0s - loss: 41.3906 - val_loss: 95.6700
Epoch 78/100
 - 0s - loss: 40.0664 - val_loss: 101.9801
Epoch 79/100
 - 0s - loss: 39.3648 - val_loss: 100.2820
Epoch 80/100
 - 0s - loss: 38.3296 - val_loss: 95.3895
Epoch 81/100
 - 0s - loss: 37.8520 - val_loss: 100.2611
Epoch 82/100
 - 0s - loss: 36.6148 - val_loss: 99.9181
Epoch 83/100
 - 0s - loss: 36.2418 - val_loss: 99.2113
Epoch 84/100
 - 0s - loss: 35.2496 - val_loss: 108.6401
Epoch 85/100
 - 0s - loss: 34.5997 - val_loss: 106.4749
Epoch 86/100
 - 0s - loss: 34.1348 - val_loss: 96.9788
Epoch 87/100
 - 0s - loss: 33.3570 - val_loss: 102.7913
Epoch 88/100
 - 0s - loss: 33.1241 - val_loss: 110.2154
Epoch 89/100
 - 0s - loss: 32.7336 - val_loss: 107.2384
Epoch 90/100
 - 0s - loss: 31.8998 - val_loss: 113.3777
Epoch 91/100
 - 0s - loss: 31.4974 - val_loss: 106.9936
Epoch 92/100
 - 0s - loss: 30.9559 - val_loss: 99.2131
Epoch 93/100
 - 0s - loss: 30.6558 - val_loss: 104.7305
Epoch 94/100
 - 0s - loss: 29.9916 - val_loss: 108.1342
Epoch 95/100
 - 0s - loss: 30.6749 - val_loss: 115.8684
Epoch 96/100
 - 0s - loss: 29.3877 - val_loss: 109.6585
Epoch 97/100
 - 0s - loss: 29.5077 - val_loss: 108.6819
Epoch 98/100
 - 0s - loss: 28.4593 - val_loss: 110.2601
Epoch 99/100
 - 0s - loss: 28.4676 - val_loss: 103.6407
Epoch 100/100
 - 0s - loss: 28.9605 - val_loss: 106.0952

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

This notebook is part of a course on **edX** called *Deep Learning Fundamentals with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](http://cocl.us/DL0101EN_edX_Week3_LAB1).

<hr>

Copyright &copy; 2018 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).